<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Encabezado de la Publicación 1">
    <meta name="description" content="">
    <title>Ecologia</title>
    <link rel="stylesheet" href="../styles/nicepage.css" media="screen">
<link rel="stylesheet" href="../styles/home-1.css" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="../scripts/index.js"></script>

    
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    


    <meta name="theme-color" content="#efa69d">
  </head>
  <body class="u-body u-xl-mode" data-lang="es"><header class="u-clearfix u-header u-header" id="sec-3764"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1" bis_skin_checked="1">
        <a href="index.html" class="u-image u-logo u-image-1">
          <img src="https://pbs.twimg.com/profile_images/610636078676992000/Nsw4ceDh_400x400.jpg" class="u-logo-image u-logo-image-1">
        </a>
        <div class="u-fix u-sheet u-valign-middle u-sheet-1" bis_skin_checked="1">
          <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn">menu</button>
              <div id="desplegable" class="contenido-desplegable">
                <a href="index.html">inicio</a>
                <a href="blog.html">blogs</a>
              </div>
            </div>
      </div>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-d91d">
      <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-container-style u-expanded-width u-post-details u-post-details-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-1" src="../images/0fd3416c.jpeg">
            <h2 class="u-blog-control u-text u-text-1">Ecologia</h2>
            <div class="u-blog-control u-metadata u-metadata-1">
              <span class="u-meta-date u-meta-icon">11 nov 2022</span>


            </div>
            <div class="u-align-justify u-blog-control u-post-content u-text u-text-2 fr-view">
              <p>

              La importancia de los bosques radica en los componentes y procesos que integran a los ecosistemas y que  proporcionan múltiples beneficios al ambiente, la fauna y la sociedad.

                Desde el punto de vista de la ecología, los bosques ayudan a la regulación del clima y al amortiguamiento del impacto de los fenómenos naturales.

                •Mantienen la provisión de agua en calidad y cantidad.

                •Generan oxígeno.

                •Controlan la erosión, así como la generación, conservación y recuperación del suelo.

                •Coadyuvan en la captura de carbono y la asimilación de diversos contaminantes.

                •Protegen la biodiversidad, de los ecosistemas y las formas de vida.

                •Propician y permiten la polinización de plantas y el control biológico de plagas.

                •Son el espacio en donde se lleva a cabo la degradación y el reciclaje de desechos orgánicos.

                •Permiten la apreciación del paisaje y la recreación.

                •Son fuente importante de materias primas.

                •Son reservorio genético de la vida y proporcionan infinidad de sustancias de gran utilidad a la humanidad para el combate de las enfermedades.

                En resumen, aportan enormes beneficios económicos, sociales y ambientales.p>
              </p>
              </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
 
 
 
      <div class="col-md-6 pane">
    <div class="col-md-4">
        <div class="alert alert-light"><h4>comentarios</h4></div>
        </div>
        <div id="result">
   
   
   
   
      </div>
   
      <div class="col-md-8">
          <form>
              <div class="form-group">
        <label>nombre</label>
        <input class="form-control" type="text"  id="name">
        </div>
              <div class="form-group">
        <label>comentario</label>
        <textarea id="comment" class="form-control"></textarea></label>
        </div>
        <button type="button" class="btn btn-primary" onclick="commentbox();">enviar</button>
          </form>
      </div>
   
   
   
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
   
    <script src="assets/js/script.js"></script>
    </div>
    </div>
    
    
    <footer class="u-align-center u-fix u-footer u-grey-80 u-footer" id="sec-be3e"><div class="u-fix u-sheet u-sheet-1" bis_skin_checked="1">
      <p class="u-texto u-texto-2" bis_skin_checked="1">todos los derechos reservados isaac theran 2022©</p>
      </div></footer>derechos reservados ©isaac theran 2022</p>
      </div></footer> 
      <script type="text/javascript"> 
        function cambiarmodo() { 
          var cuerpoweb = document.body; 
          cuerpoweb.classlist.toggle("oscuro"); 
        } 
      </script>
  
</body></html>