<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Caridad para, EL BOSQUE">
    <title>index 1</title>
    <link rel="stylesheet" href="../styles/nicepage.css" media="screen">
    <script src="../scripts/index.js"></script>
    <link rel="stylesheet" href="../styles/Home-1.css" media="screen">
    <meta name="theme-color" content="#efa69d">
    <meta property="og:title" content="Home 1">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page-title="Home 1" class="u-body u-xl-mode" data-lang="es">
    <header class="u-fix u-encabezado u-encabezado" id="sec-3764">

        <div class="u-fix u-sheet u-valign-middle u-sheet-1" bis_skin_checked="1">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">menu</button>
            <div id="desplegable" class="contenido-desplegable">
              <a href="index.html">inicio</a>
              <a href="blog.html">blogs</a>
            </div>
          </div>
              <svg class="u-contenido-svg" version="1.1" viewBox="0 0 16 16" x="0px" y="0px"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
          
          </div>
          <div class="u-custom-menu u-nav-container" bis_skin_checked="1">
          </div>
          <div class="u-custom-menu u-nav-container-collapse" bis_skin_checked="1">
            <div class="u-black u-container-style u-diseño-contenedor-interno u-opacidad u-opacidad-95 u-navegacion-lateral" bis_skin_checked="1">
              <div class="u-diseño-contenedor-interno u-Desbordamiento-navegación-lateral" bis_skin_checked="1">
                <div class="u-menu-cerrado" bis_skin_checked="1"></div>
              </div>
            </div>
            <div class="u-black u-menu-cubierto u-opacidad u-opacidad-70" bis_skin_checked="1"></div>
          </div>
      </div>
      <button type="button" class="btn btn-dark" id="oscuro" onclick="cambiarModo()">Oscuro / Verde</button>
    </header>
    
    <section class="u-align-center u-fix u-image u-section-1" src="" id="carousel_deab">
      <div class="u-fix u-sheet u-sheet-1" bis_skin_checked="1">
        <div class="u-opacidad u-opacidad-65 u-palette-4-base u-shape u-shape-circle u-shape-1" bis_skin_checked="1"></div>
        <h2 class="u-texto u-texto-body-alt-color u-texto-1">caridad para</h2>
        <h1 class="u-color-scheme-u10 u-color-style-multicolor-1 u-texto u-texto-body-alt-color u-title u-texto-2">EL BOSQUE</h1>
        <p class="u-texto u-texto-body-alt-color u-texto-3">Imagen de <a href="https://freepik.com/photos/forest" class="u-active-none u-border-1 u-border-active-grey-5 u-border-hover-grey-5 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-link u-button-style u-hover-none u-none u-texto-body-alt-color u-btn-1">Freepik </a>
        </p>
      </div>
    </section>
    <section class="u-align-center u-fix u-grey-5 u-section-2" id="carousel_029e">
      <div class="u-fix u-sheet u-valign-middle u-sheet-1" bis_skin_checked="1">
        <h3 class="u-texto u-texto-default u-texto-1"> Bioseguridad - Caridad para el BOSQUE</h3>
        <p class="u-texto u-texto-gris-50 u-texto-2">Las zonas boscosas del mundo sufren por la polucion del ambiente, a pesar de que actualmente el recliclaje es un tema hablado no tiene el impacto suficiente para "combatir" o mejor dicho anteponerse a el daño en el ambiente ede empresas que generan la polucion</p>
    </div>
    </section>
    <section class="u-fix u-section-3" id="carousel_2347">
      <div class="u-fix u-sheet u-sheet-1" bis_skin_checked="1">
        <div class="u-fix u-expanded-width u-diseño-envuelto u-diseño-envuelto-1" bis_skin_checked="1">
          <div class="u-diseño" bis_skin_checked="1">
            <div class="u-diseño-row" bis_skin_checked="1">
              <div class="u-align-left u-container-style u-diseño-cell u-size-30 u-diseño-cell-1" bis_skin_checked="1">
                <div class="u-container-diseño u-container-diseño-1" bis_skin_checked="1">
                  <h5 class="u-custom-fuente u-fuente-montserrat u-texto u-texto-1"> Mas informacion</h5>
                  <a class="u-texto u-texto-gris-30 u-texto-2" href="http://ve.scielo.org/scielo.php?script=sci_arttext&pid=S0254-16372011000100010#:~:text=El%20agua%20residual%20de%20unidades,las%20especies%20vegetales%20y%20animales.">visite este link externo para ver mas</a>
                  <img class="u-expanded-width u-image u-image-default u-image-1" src="../images/trtrrt-min.jpg" alt="" data-image-width="730" data-image-height="1080">
                </div>
              </div>
              <div class="u-align-center u-container-style u-grey-5 u-diseño-cell u-shape-rectangle u-size-30 u-diseño-cell-2" bis_skin_checked="1">
                <div class="u-container-diseño u-valign-middle u-container-diseño-2" bis_skin_checked="1">
                  <div class="u-opacidad u-opacidad-65 u-palette-4-base u-shape u-shape-circle u-shape-1" bis_skin_checked="1"></div>
                  <h2 class="u-texto u-texto-3">Ayudanos a volver a ver arboles en abundancia</h2>
                  <a class="u-texto u-texto-gris-40 u-texto-4" href="#"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-fix u-palette-4-base u-section-4" id="carousel_afc9">
      <div class="u-fix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-texto u-texto-1"> relaciones publicas y dueños de bosques </h3>
        <div class="u-expanded-width u-list u-list-1" bis_skin_checked="1">
          <div class="u-repeater u-repeater-1" bis_skin_checked="1">
            <div class="u-align-left u-container-style u-list-item u-radius-28 u-repeater-item u-shape-round u-white u-list-item-1" bis_skin_checked="1">
              <div class="u-container-diseño u-similar-container u-valign-bottom-xl u-container-diseño-1" bis_skin_checked="1"><span class="u-icon u-icon-circle u-texto-black u-white u-icon-1">
</g>
</g>
</g></svg></span>
                <p class="u-texto u-texto-2">Juan Miguel Arcano, dueño de uno de los bosques mas grandes del mundo</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-radius-28 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" bis_skin_checked="1">
              <div class="u-container-diseño u-similar-container u-valign-bottom-xl u-container-diseño-2" bis_skin_checked="1"><span class="u-icon u-icon-circle u-texto-black u-white u-icon-2">
</g>
</g>
</g></svg></span>
                <p class="u-texto u-texto-3">Marin bio, una empresa encargada de el turismo sano y correcto en los bosques</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-radius-28 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3" bis_skin_checked="1">
              <div class="u-container-diseño u-similar-container u-valign-bottom-xl u-container-diseño-3" bis_skin_checked="1"><span class="u-icon u-icon-circle u-texto-black u-white u-icon-3">
</g>
</g>
</g></svg></span>
                <p class="u-texto u-texto-4">Adam Smith, dueño de una reserva natural boscosa en el norte de canada</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-radius-28 u-repeater-item u-shape-round u-video-cover u-white u-list-item-4" bis_skin_checked="1">
              <div class="u-container-diseño u-similar-container u-valign-bottom-xl u-container-diseño-4" bis_skin_checked="1"><span class="u-icon u-icon-circle u-texto-black u-white u-icon-4">
</g>
</g>
</g></svg></span>
                <p class="u-texto u-texto-5">Michael mons, dueño de un bosque en el sur del reino unido</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-radius-28 u-repeater-item u-shape-round u-video-cover u-white u-list-item-5" bis_skin_checked="1">
              <div class="u-container-diseño u-similar-container u-valign-bottom-xl u-container-diseño-5" bis_skin_checked="1"><span class="u-icon u-icon-circle u-texto-black u-white u-icon-5">
</g>
</g>
</g></svg></span>
                <p class="u-texto u-texto-6">Forest care, una empresa dedicada a reestaurar bosques por incendios, Deforestacion y otros incidentes</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-radius-28 u-repeater-item u-shape-round u-video-cover u-white u-list-item-6" bis_skin_checked="1">
              <div class="u-container-diseño u-similar-container u-valign-bottom-xl u-container-diseño-6" bis_skin_checked="1"><span class="u-icon u-icon-circle u-texto-black u-white u-icon-6">
</g>
</g>
</g></svg></span>
                <p class="u-texto u-texto-7">Robert pattinson, dueño de un bosque protegido por la nacion de estados unidos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-fix u-section-5" id="carousel_af0f">
      <div class="u-fix u-sheet u-sheet-1">
        <div class="u-fix u-gutter-30 u-diseño-envuelto u-diseño-envuelto-1" bis_skin_checked="1">
          <div class="u-gutter-0 u-diseño" bis_skin_checked="1">
            <div class="u-diseño-row" bis_skin_checked="1">
              <div class="u-size-32" bis_skin_checked="1">
                <div class="u-diseño-col" bis_skin_checked="1">
                  <div class="u-align-left u-container-style u-image u-diseño-cell u-left-cell u-shading u-size-28 u-image-1" data-image-width="626" data-image-height="416">
                    <div class="u-container-diseño u-container-diseño-1" bis_skin_checked="1"></div>
                  </div>
                  <div class="u-align-left u-container-style u-diseño-cell u-left-cell u-size-32 u-diseño-cell-2" src="" bis_skin_checked="1">
                    <div class="u-container-diseño u-container-diseño-2" bis_skin_checked="1">
                      <h4 class="u-texto u-texto-1"> uso apropiado de la madera</h4>
                      <p class="u-texto u-texto-2"><a href="./enviar-2.html">Visite nuestro blog para saber mas al respecto</a></p>
                      <p class="u-texto u-texto-default u-texto-3">Imagen de <a href="https://freepik.com/photos/forest" class="u-active-none u-border-1 u-border-active-palette-4-base u-border-black u-border-hover-palette-4-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-texto-body-color u-btn-1">Freepik </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-28" bis_skin_checked="1">
                <div class="u-diseño-col" bis_skin_checked="1">
                  <div class="u-align-left u-container-style u-image u-diseño-cell u-right-cell u-size-60 u-image-2" src="" bis_skin_checked="1">
                    <div class="u-container-diseño u-container-diseño-3" src="" bis_skin_checked="1">
                      <div class="u-container-style u-group u-palette-4-dark-2 u-group-1" bis_skin_checked="1">
                        <div class="u-container-diseño u-valign-middle u-container-diseño-4" bis_skin_checked="1">
                          <h2 class="u-texto u-texto-4"> Técnica <br> forestal.
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-fix u-section-6" id="carousel_1931">
      <div class="u-fix u-expanded-width u-diseño-envuelto u-diseño-envuelto-1" bis_skin_checked="1">
        <div class="u-diseño" bis_skin_checked="1">
          <div class="u-diseño-row" bis_skin_checked="1">
            <div class="u-align-left u-container-style u-image u-diseño-cell u-left-cell u-size-42 u-image-1" data-image-width="1500" data-image-height="1000">
              <div class="u-container-diseño u-valign-top u-container-diseño-1" bis_skin_checked="1">
                <div class="u-align-center u-container-style u-group u-palette-1-light-3 u-shape-rectangle u-group-1" bis_skin_checked="1">
                  <div class="u-container-diseño u-valign-middle u-container-diseño-2" bis_skin_checked="1">
                    <p class="u-texto u-texto-1"><a href="./enviar-1.html">Visite nuestro blog para saber mas al respecto</a></p>
                  </div>
                </div>
                <p class="u-texto u-texto-body-alt-color u-texto-default u-texto-2">Imagen de <a href="https://www.freepik.com/photos/vintage" class="u-active-none u-border-1 u-border-active-grey-5 u-border-hover-grey-5 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-link u-button-style u-hover-none u-none u-texto-body-alt-color u-btn-1">Freepik</a>
                </p>
              </div>
            </div>
            <div class="u-container-style u-diseño-cell u-right-cell u-shape-rectangle u-size-18 u-diseño-cell-2" bis_skin_checked="1">
              <div class="u-container-diseño u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-top-sm u-valign-top-xs u-container-diseño-3" bis_skin_checked="1">
                <img class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-image u-image-default u-image-2" src="../images/pexels-photo-9789963.jpeg" alt="" data-image-width="500" data-image-height="750">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-fix u-section-7" id="carousel_fbef">
      <div class="u-fix u-sheet u-valign-middle u-sheet-1">
        <div class="u-fix u-expanded-width u-gutter-30 u-diseño-envuelto u-diseño-envuelto-1" bis_skin_checked="1">
          <div class="u-diseño" bis_skin_checked="1">
            <div class="u-diseño-row" bis_skin_checked="1">
              <div class="u-size-25-lg u-size-25-xl u-size-29-sm u-size-29-xs u-size-60-md" bis_skin_checked="1">
                <div class="u-diseño-col" bis_skin_checked="1">
                  <div class="u-size-60" bis_skin_checked="1">
                    <div class="u-diseño-row" bis_skin_checked="1">
                      <div class="u-align-center u-container-style u-diseño-cell u-right-cell u-size-60 u-white u-diseño-cell-1" bis_skin_checked="1">
                        <div class="u-container-diseño u-valign-middle u-container-diseño-1" bis_skin_checked="1">
                          <img class="u-expanded-width u-image u-image-default u-image-1" src="../images/pexels-photo-9730582.jpeg" alt="" data-image-width="600" data-image-height="750">
                          <h3 class="u-texto u-texto-default u-texto-1"> monitorieando el estado de la poblacion de carnivoros grandes</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-31-sm u-size-31-xs u-size-35-lg u-size-35-xl u-size-60-md" bis_skin_checked="1">
                <div class="u-diseño-col" bis_skin_checked="1">
                  <div class="u-size-40" bis_skin_checked="1">
                    <div class="u-diseño-row" bis_skin_checked="1">
                      <div class="u-align-center u-container-style u-diseño-cell u-left-cell u-opacidad u-opacidad-35 u-palette-5-light-2 u-shape-rectangle u-size-60 u-diseño-cell-2" bis_skin_checked="1">
                        <div class="u-container-diseño u-valign-bottom u-container-diseño-2" bis_skin_checked="1">
                          <h2 class="u-texto u-texto-2"> Fauna del bosque<br>y caza
                          </h2>
                          <p class="u-texto u-texto-3"><a href="./enviar-3.html">Visite nuestro blog para saber mas al respecto</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-20" bis_skin_checked="1">
                    <div class="u-diseño-row" bis_skin_checked="1">
                      <div class="u-align-left u-container-style u-diseño-cell u-size-30 u-diseño-cell-3" src="" bis_skin_checked="1">
                        <div class="u-container-diseño u-valign-middle u-container-diseño-3" bis_skin_checked="1">
</g></svg></span>
                        </div>
                      </div>
                      <div class="u-align-left u-container-style u-image u-diseño-cell u-left-cell u-size-30 u-image-2" data-image-width="500" data-image-height="750">
                        <div class="u-container-diseño u-container-diseño-4" bis_skin_checked="1"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-fix u-image u-shading u-section-8" src="" data-image-width="1620" data-image-height="1080" id="carousel_d7d2">
      <div class="u-fix u-sheet u-sheet-1" bis_skin_checked="1">
        <h2 class="u-texto u-texto-1">caridad para el bosque beneficia la naturaleza de las personas</h2>
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1" bis_skin_checked="1">
          <div class="u-repeater u-repeater-1" bis_skin_checked="1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item" bis_skin_checked="1">
              <div class="u-container-diseño u-similar-container u-valign-top u-container-diseño-1" bis_skin_checked="1">
                <h4 class="u-custom-fuente u-fuente-montserrat u-texto u-texto-default u-texto-2"> bioseguridad</h4>
                <p class="u-custom-fuente u-fuente-montserrat u-texto u-texto-3"><a href="#">Visite nuestro blog para saber mas al respecto</a></p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item" bis_skin_checked="1">
              <div class="u-container-diseño u-similar-container u-valign-top u-container-diseño-2" bis_skin_checked="1">
                <h4 class="u-custom-fuente u-fuente-montserrat u-texto u-texto-default u-texto-4"> vida salvaje</h4>
                <p class="u-custom-fuente u-fuente-montserrat u-texto u-texto-5"><a href="./enviar-5.html">Visite nuestro blog para saber mas al respecto</a></p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item" bis_skin_checked="1">
              <div class="u-container-diseño u-similar-container u-valign-top u-container-diseño-3" bis_skin_checked="1">
                <h4 class="u-custom-fuente u-fuente-montserrat u-texto u-texto-default u-texto-6">personas</h4>
                <p class="u-custom-fuente u-fuente-montserrat u-texto u-texto-7"><a href="#">Visite nuestro blog para saber mas al respecto</a></p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item" bis_skin_checked="1">
              <div class="u-container-diseño u-similar-container u-valign-top u-container-diseño-4" bis_skin_checked="1">
                <h4 class="u-custom-fuente u-fuente-montserrat u-texto u-texto-default u-texto-8">Ecologia</h4>
                <p class="u-custom-fuente u-fuente-montserrat u-texto u-texto-9"><a href="#">Visite nuestro blog para saber mas al respecto</a></p>
              </div>
            </div>
          </div>
        </div>
        <p class="u-texto u-texto-body-alt-color u-texto-10">Imagen de<a href="https://viajes.nationalgeographic.com.es/a/bosques-mas-bellos-mundo_8559" class="u-active-none u-border-1 u-border-active-grey-5 u-border-hover-grey-5 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-link u-button-style u-hover-none u-none u-texto-body-alt-color u-btn-5">National Geographic</a>
        </p>
      </div>
    </section>
    <section class="u-fix u-section-9" id="carousel_2618">
      <div class="u-fix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1" bis_skin_checked="1">
        <div class="u-fix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-30 u-diseño-envuelto u-diseño-envuelto-1">
          <div class="u-diseño" bis_skin_checked="1">
            <div class="u-diseño-col" bis_skin_checked="1">
              <div class="u-size-30" bis_skin_checked="1">
                <div class="u-diseño-row" bis_skin_checked="1">
                  <div class="u-container-style u-image u-diseño-cell u-left-cell u-size-33 u-image-1">
                    <div class="u-container-diseño" bis_skin_checked="1"></div>
                  </div>
                  <div class="u-container-style u-grey-5 u-diseño-cell u-right-cell u-size-27 u-diseño-cell-2">
                    <div class="u-container-diseño u-container-diseño-2" bis_skin_checked="1">
                      <h4 class="u-texto u-texto-1"> Los bosques más hermosos</h4>
                      <div class="u-border-7 u-border-palette-4-base u-line u-line-horizontal u-line-1"></div>
                      <p class="u-texto u-texto-2">“Declaro que este mundo es tan hermoso que apenas puedo creer que exista”. La belleza de la naturaleza puede tener un profundo efecto sobre nuestros sentidos, esas puertas de entrada del mundo exterior al interior, ya sea que resulte en
                                    incredulidad...<br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30" bis_skin_checked="1">
                <div class="u-diseño-row" bis_skin_checked="1">
                  <div class="u-align-left u-container-style u-diseño-cell u-left-cell u-size-21 u-diseño-cell-3"></g>
</g></svg></span>
                    </div>
                  </div>
                  <div class="u-container-style u-image u-diseño-cell u-right-cell u-size-39 u-image-2">
                    <div class="u-container-diseño" bis_skin_checked="1"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-fix u-image u-shading u-section-10" id="carousel_0698" data-image-width="1620" data-image-height="1080">
      <div class="u-fix u-sheet u-sheet-1" bis_skin_checked="1">
        <h6 class="u-texto u-texto-1"> CUATRO PASOS SIMPLES PARA MANTENER USTED Y SU PERRO A SALVO EN EL BOSQUE</h6>
        <p class="u-texto u-texto-2"><a href="enviar-4.html">Visite nuestro blog para saber mas al respecto</a></p>
        <div class="u-social-icons u-spacing-42 u-social-icons-1" bis_skin_checked="1">
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-fix u-footer u-grey-80 u-footer" id="sec-be3e"><div class="u-fix u-sheet u-sheet-1" bis_skin_checked="1">
      <p class="u-texto u-texto-2" bis_skin_checked="1">todos los derechos reservados isaac theran 2022©</p>
    </div></footer>
      <script type="text/javascript"> 
        function cambiarModo() { 
          var cuerpoweb = document.body; 
          cuerpoweb.classList.toggle("oscuro"); 
        } 
      </script>
</body>
</html>